h1 {
    text-align: center;
}

.container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-txt {
    width: 400px;
    margin-bottom: 30px;
}

.info,
.info2 {
    text-align: center;
}

fieldset {
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
}

.red {
    color: red;
}