h1 {
    text-align: center;
}

.container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-txt {
    width: 400px;
    margin-bottom: 30px;
}

.info {
    text-align: center;
}