.container {
    width: 900px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: darkblue;
}

#time,
#time1 {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 22px;
    color: green;
}